<?xml version="1.0"?>
<model>
  <name>astrobee_freeflyer</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>NASA Astrobee Flight Software</name>
    <email>astrobee-fsw@nx.arc.nasa.gov</email>
  </author>
  <description>
    NASA Astrobee free-flyer robot model for use as a portable object in Gazebo simulation.
    Meshes sourced from https://github.com/nasa/astrobee_media
  </description>
</model>
