<?xml version="1.0"?>
<launch>
    <rosparam command="load" file="$(find score_manager)/config/competition.yaml" />
    <rosparam command="load" file="$(find score_manager)/config/rules.yaml" />

    <node name="spawn_human_pos_2" pkg="score_manager" type="spawn.py" output="screen">
        <param name="category" value="human_obstacles" />
        <param name="name"     value="human_pos_2" />
    </node>

    <node name="spawn_human_pos_1" pkg="score_manager" type="spawn.py" output="screen">
        <param name="category" value="human_obstacles" />
        <param name="name"     value="human_pos_1" />
    </node>

    <node name="spawn_portable_item" pkg="score_manager" type="spawn.py" output="screen">
        <param name="category" value="portable_objects" />
        <param name="name"     value="auto" />
    </node>

    <node name="area_marker_publisher" pkg="score_manager" type="area_marker.py" output="screen"/>
    
    <node name="search_point_tf_publisher" pkg="score_manager" type="search_point.py" output="screen"/>
    
    <node name="score_manager_node" pkg="score_manager" type="atspace_score_manager.py" output="screen"/>
</launch>